* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontSteppe);
}

:root {
    --white1: #FFFFFF;
    --white2: #EFF7F5;
    --green: #004F44;
    --fontChillax: Chillax;
    --fontDMSans: DMSans;
    --fontSteppe: Steppe;

}

.container {
    max-width: 1158px;
    min-width: 375px;
    width: 95%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax.ttf);
}

@font-face {
    font-family: DMSans;
    src: url(fonts/DMSans.ttf);
}

@font-face {
    font-family: Steppe;
    src: url(fonts/Steppe.ttf);
}



.header {
    width: 100%;
    background: var(--green);
    padding-top: 21px;
    padding-bottom: 94px;
    min-width: 375px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 86px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav_link {
    color: var(--white1);
    font-family: var(--fontDMSans);
    display: flex;
    align-items: center;
    gap: 5px;
}


.nav_item {
    position: relative;
}

.dropDownList {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    display: none;
}


.dropDown_link {
    color: var(--white1);
}


.nav_item:hover .dropDownList {
    display: flex;
}


.header__icons {
    display: flex;
    align-items: center;
    gap: 15px;
}


.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}


#burger {
    display: none;
}

.burger_menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    display: none;
}

.burger_line {
    width: 100%;
    height: 3px;
    background: var(--white1);
}

#burger:checked~.nav {
    transform: translateX(0);
}

.header__center {
    display: flex;
    margin-top: 92px;
    justify-content: space-between;
}

.header_left {
    max-width: 420px;
}

.header_title {
    font-family: var(--fontChillax);
    color: var(--white2);
    line-height: 72px;
    letter-spacing: 1.5px;
    font-size: 64px;
    font-weight: 500;
}

.header_text {
    color: var(--white2);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .3px;
    margin: 32px 0;
}

.header_leftBtn1 {
    padding: 19px 41px;
    background: var(--white2);
    border: none;
    color: var(--green);
    font-weight: 400;
    font-family: var(--fontDMSans);
    cursor: pointer;
    transition: .3s;
}

.header_leftBtn1:hover {
    scale: 1.1;
}

.header_leftBtn2 {
    background: none;
    border: none;
    color: var(--white2);
    font-weight: 400;
    margin-left: 30px;
    transition: .3s;
    padding: 19px 41px;
}

.header_leftBtn2:hover {
    background: var(--white2);
    color: var(--green);
    scale: 1.1;
}

.header_right {
    width: 607px;
    height: 547px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;
}

.header_rightItem {
    position: relative;
    overflow: hidden;
}

.header_rightItem:hover .header_rightImg {
    transform: scale(1.2);
}

.header_rightImg {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.header_rightBtn {
    left: 15px;
    top: 12px;
    position: absolute;
    background: var(--green);
    color: var(--white2);
    border: none;
    transition: .3s;
    z-index: 111;
    padding: 7px 15px;
}

.header_rightBtn:hover {
    scale: 1.1;
}


.header_rightItem:nth-child(1) {
    width: 222px;
    height: 257px;
}

.header_rightItem:nth-child(2) {
    width: 222px;
    height: 285px;
}

.header_rightItem:nth-child(3) {
    width: 379px;
    height: 100%;
}

.header_rightBox {
    position: absolute;
    bottom: 0;
    padding: 25px;
    left: 0;
    width: 100%;
    z-index: 111;
}

.header_rightTitle {
    color: var(--white2);
    font-weight: 400;
    font-size: 28px;
}

.header_rightText {
    font-weight: 400;
    line-height: 18px;
    margin-top: 6px;
    margin-bottom: 16px;
    color: var(--white2);
    font-size: 14px;
}

.header_rightBtn2 {
    letter-spacing: 3.2px;
    color: var(--green);
    font-weight: 400;
    width: 100%;
    height: 48px;
    cursor: pointer;
    transition: .3s;
    border: none;
}

.header_rightBtn2:hover {
    background: var(--green);
    color: var(--white2);
}

.section1 {
    margin-top: 70px;
    margin-bottom: 95px;
}

.section1_top {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1_title {
    font-size: 40px;
    color: var(--green);
    font-weight: 400;
}

.section1_link {
    color: var(--green);
    font-size: 24px;
    font-weight: 400;
}

.section1_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    flex-wrap: wrap;
}

.product {
    width: 261px;
    height: 475px;
}

.product_imgWrapper {
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.product_img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.product_imgWrapper:hover .product_img {
    transform: scale(1.3);
}

.product_info1 {
    margin-top: 20px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_name {
    font-size: 20px;
    color: var(--green);
    font-weight: 400;
}

.product_price {
    font-size: 20px;
    font-weight: 400;
    color: var(--green);
}

.product_info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_colors {
    width: 80+px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px 5px;
}

.color_text {
    color: #9EA9A7;
    font-weight: 400;
    font-size: 14px;
}

.product_color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #39362E;
}

.product_color:nth-child(2) {
    background: #F3A195;
}

.product_color:nth-child(3) {
    background: #EFEAE6;
}

.product_color:nth-child(4) {
    background: #C38364;
}

.product_btn {
    padding: 8px 23px;
    font-weight: 400;
    font-size: 16px;
    color: var(--green);
    border: 2px solid;
    transition: .5s;
    cursor: pointer;
}

.product_btn:hover {
    scale: 1.1;
    background: var(--green);
    color: var(--white1);
}

.section2 {
    background: #F3FFFC;
    width: 100%;
    padding: 85px 0;
    min-width: 375px;
}

.section2_container {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.filter_icon {
    border: 2px solid var(--green);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
}

.search_input {
    height: 100%;
    padding-left: 27px;
    width: 100%;
    background: var(--white1);
    border: 2px solid;
}

.search_input::placeholder {
    color: var(--green);
    font-weight: 400;
}

.search_btn {
    background: var(--green);
    height: 100%;
    padding: 0 15px;
    border: none;
    cursor: pointer;
}

.section3 {
    margin-top: 96px;
    margin-bottom: 97px;
}

.section3_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 67px;
}

.section3_title {
    font-size: 30px;
    font-weight: 400;
    color: var(--green);
}

.section3_link {
    font-weight: 400;
    font-size: 24px;
    color: var(--green);
}

.section3_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.section3_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section3_item {
    width: 268px;
    height: 404px;
    position: relative;
}

.section3_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #012c26c0;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.section3_item:hover .section3_box{
    opacity: 1;
}

.section3_title1 {
    font-weight: 400;
    font-size: 29px;
    color: var(--white1);
}

.section3_boxx {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3_text1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--white1);
}

.section3_span {
    width: 20px;
    color: var(--white1);
}

.section3_item1 {
    width: 268px;
    height: 404px;
    color: #012C26;
    background: url(images/image9.png) no-repeat cover / center;
}

.section3_item2 {
    width: 268px;
    height: 404px;
    color: #012C26;
    background: url(images/image10.png) no-repeat cover / center;
}

.section3_item3 {
    width: 268px;
    height: 404px;
    color: #012C26;
    background: url(images/image11.png) no-repeat cover / center;
}

.section4 {
    background: #F3FFFC;
    width: 100%;
    padding: 80px 0;
    min-width: 375px;
}

.section4_img{
    width: calc(100% / 3 20px);
}

.section4_container {
    /* min-height: 563px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
}

.section4_title {
    font-weight: 400;
    font-size: 40;
    line-height: 54%;
    color: var(--green);
    display: flex;
    align-self: start;
    margin-left: 10px;
}

.section4_item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 24px; */
}

.section4_img {
    max-width: 370px;
    min-height: 472px;
    width: 100%;
    margin-left: 24px;
}

.section5 {
    width: 100%;
    padding-top: 97px;
    padding-bottom: 121px;
    background: url(images/image15.png) no-repeat center / cover;
    margin-top: 97px;
}

.section5_title {
    font-weight: 400;
    font-size: 44px;
    color: #9C6955;
    margin-left: 55px;
}

.section5_text {
    font-weight: 400;
    font-size: 17px;
    color: #9C6955;
    margin-left: 55px;
}

.section5_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 169px;
    height: 46px;
    color: #9C6955;
    margin-left: 55px;
    padding-top: 62px;
}

.section5_box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section5_icon1 {
    width: 18px;
    height: 18px;
    color: #9C6955;
}

.section5_text1 {
    font-weight: 400;
    font-size: 16px;
    color: #9C6955;
}

.section6 {
    width: 100%;
    min-height: 346px;
    margin-top: 121px;
    background: url(images/Group\ 33.png) no-repeat center / cover;
    padding-left: 28px;
    padding-top: 28px;
}

.section6_container {
    background: var(--white1);
    width: 515px;
    min-height: 231px;
}

.section6_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section6_btn {
    font-weight: 400;
    font-size: 14px;
    color: var(--white2);
    background: var(--green);
    margin-left: auto;
    display: block;
}

.section6_title {
    color: #0A1E1B;
    font-size: 24px;
    font-weight: 400;
}

.section6_text {
    color: #666666;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}

.section6_text1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26%;
    margin-top: 8px;
    color: #666666;

    span {
        color: #0A1E1B;
        font-size: 16px;
        font-weight: 400;
        line-height: 26%;
    }
}